.sidebar {
    background-color: #3B4AD0;
    color: white
}

.sidebar-title {
    font-size: 40px;
    font-weight: bolder
}

.symptoms {
    width: 250px;
    max-height: 200px
}

.show-modal-btn {
    position: absolute;
    left: 25px;
    bottom: 25px
}

.symptom {
    font-size: 1.3rem
}