.hover-effect:hover {
  background-color: #222c85;
}

.hover-effect-grey:hover {
  background-color: lightgrey;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.sidebar {
  background-color: rgb(59, 74, 208);
  color: white;
}

.sidebar-title {
  font-size: 40px;
  font-weight: bolder;
}

.item-title {
  font-weight: bolder;
}